/*in progress*/

a {
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

html {
    background-color: #e3f2fc;
}

.site-navigation {
    background: #4fb5ff;
    overflow: hidden;
}

.site-navigation-item {
    font-size: 20px;
    opacity: 1;
}

.site-menu li {
    float: left;
    display: flex;
    text-align: center;
    text-decoration: none;
}

.site-menu li:hover {
    background-color: #8aceff;
}

.theme-wrapper {
    float: right;
    display: flex;
    flex-direction: row;
    align-items: flex-start
}

.theme {
    display: block;
    margin-right: 10px;
}

.box{
    height: 156px;
    width: 156px;
    border: solid white 2px;
    background-color: gray;
    display: grid;
    grid-template-columns: auto auto auto;
}
#main{
    height: 480px;
    width: 480px;
    border: solid black 4px;
    display: flex;
    flex-direction: row;
    margin-left: 30%;
    margin-top: -1%;
}
.cell{
    height: 50px;
    width: 50px;
    border: solid white 1px;
    text-align: center;
    background-color: black;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}
input{
    height:45px;
    width:44px;
    border: none;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    background-color: lightgrey;
    color: black;
}
button{
    height: 70px;
    width: 200px;
    font-size: x-large;
    font-weight:  bold;
    background-color: blue;
    border: solid 4px black;
    border-radius: 30px;
    color: white;
    position: absolute;
    cursor: pointer;
}
#start{
    top: 26%;
    left: 5%;
}
#replay{
    top: 45%;
    left: 5%;
}
#answer{
    top: 65%;
    left: 5%;
}
#game_type{
    position: absolute;
    top: 24%;
    left: 75%;
}

.label{
    height: 15px;
    width: 15px;
    cursor: pointer;
}

/*Toggle switch for theme*/

.checkbox-switch {
    bottom: 5px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 80px;
    height: 30px;
    border-radius: 30px;
    line-height: 1.2;
    font-size: 14px;
}


/*The actual checkbox property*/

.checkbox-switch input.input-checkbox {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 30px;
    padding: 0;
    margin: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}


/*Light switch from on to off off*/

.checkbox-switch .checkbox-animate {
    position: relative;
    width: 80px;
    height: 30px;
    background-color: #95a5a6;
    transition: 0.25s ease-out 0s;
}


/*Ball when lights are off*/

.checkbox-switch .checkbox-animate:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: cyan;
    top: 5px;
    left: 5px;
    transition: left 0.3s ease-out 0s;
    z-index: 10;
}


/*Background when light is on*/

.checkbox-switch input.input-checkbox:checked+.checkbox-animate {
    background-color: #74f3fc;
}


/*Ball color when on*/

.checkbox-switch input.input-checkbox:checked+.checkbox-animate:before {
    left: 55px;
    background-color: lightcyan;
}


/*ON OFF Font*/

.checkbox-switch .checkbox-off,
.checkbox-switch .checkbox-on {
    float: left;
    color: black;
    font-weight: 700;
    padding-top: 6px;
    transition: all 0.3s ease-out 0s;
}

.checkbox-switch .checkbox-off {
    margin-left: 30px;
    opacity: 1;
}

.checkbox-switch .checkbox-on {
    display: none;
    float: right;
    margin-right: 35px;
    opacity: 0;
}

.checkbox-switch input.input-checkbox:checked+.checkbox-animate .checkbox-off {
    display: none;
    opacity: 0;
}

.checkbox-switch input.input-checkbox:checked+.checkbox-animate .checkbox-on {
    display: block;
    opacity: 1;
}
#numpad-container {
    margin: 50px auto;
    width: 250px;
    float: right;
}

#numpad li {
    float: left;
    list-style: none;
    margin: 0 5px 5px 0;
    width: 60px;
    height: 60px;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    background: #4287f5;
    border: 1px solid #f9f9f9;
    border-radius: 5px;
    
}
