/*in progress*/

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

errors {
    color: coral;
}

#board {
    width: 450px;
    height: 450px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 48px; 
    height: 48px;
    border: 1px solid lightgray;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#digits {
    width: 150px;
    height: 40px;
    margin: 0 auto;
    position: absolute;
    right: 150px;
    top: 90px;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    float: right;
}

.number {
    width: 44px;
    height: 44px;
    border: 1px solid black;
    margin: 2px;
    /* Text */
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected {
    background-color: whitesmoke;
}

.tile-start {
    background-color: whitesmoke;
}

.horizontal-line {
    border-bottom: 1px solid black;
}

.vertical-line {
    border-right: 1px solid black;
}
a {
    color: black;
}

a:link {
    text-decoration: none;
}
.highlight-rows {
    background-color: lightyellow;
}

.highlight-cols {
    background-color: lightyellow;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

html {
    background-color: white;
}

.site-navigation {
    background: whitesmoke;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.site-navigation-item {
    font-size: 23px;
    font-family: Helvetica, Verdana, sans-serif;
    opacity: 1;
}

.site-menu li {
    float: left;
    display: flex;
    text-align: center;
    text-decoration: none;
    padding:0px 15px;
}

.theme-wrapper {
    float: right;
    display: flex;
    flex-direction: row;
    align-items: flex-start
}

.unite-header {
            border-bottom: 10px solid black !important;
}

.theme {
    display: block;
    margin-right: 10px;
}

button {
    height: 50px;
    width: 160px;
    font-weight: bold;
    border: solid 4px black;
    border-radius: 30px;
    color: black;
    cursor: pointer;
}

#start-menu {
    display: block;
    position: absolute;
    left: 195px;
    top: 270px;
}

#game_type {
    padding: 15px;
    position: absolute;
    left: 155px;
    top: 120px;
}

.label {
    height: 15px;
    width: 15px;
    cursor: pointer;
}

/*Toggle switch for theme*/

.checkbox-switch {
    bottom: 5px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 80px;
    height: 30px;
    border-radius: 30px;
    line-height: 1.2;
    font-size: 14px;
}


/*The actual checkbox property*/

.checkbox-switch input.input-checkbox {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 30px;
    padding: 0;
    margin: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}


/*Light switch from on to off off*/

.checkbox-switch .checkbox-animate {
    position: relative;
    width: 80px;
    height: 30px;
    background-color: #95a5a6;
    transition: 0.25s ease-out 0s;
}


/*Ball when lights are off*/

.checkbox-switch .checkbox-animate:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: cyan;
    top: 5px;
    left: 5px;
    transition: left 0.3s ease-out 0s;
    z-index: 10;
}


/*Background when light is on*/

.checkbox-switch input.input-checkbox:checked+.checkbox-animate {
    background-color: #74f3fc;
}


/*Ball color when on*/

.checkbox-switch input.input-checkbox:checked+.checkbox-animate:before {
    left: 55px;
    background-color: lightcyan;
}


/*ON OFF Font*/

.checkbox-switch .checkbox-off,
.checkbox-switch .checkbox-on {
    float: left;
    color: black;
    font-weight: 700;
    padding-top: 6px;
    transition: all 0.3s ease-out 0s;
}

.checkbox-switch .checkbox-off {
    margin-left: 30px;
    opacity: 1;
}

.checkbox-switch .checkbox-on {
    display: none;
    float: right;
    margin-right: 35px;
    opacity: 0;
}

.checkbox-switch input.input-checkbox:checked+.checkbox-animate .checkbox-off {
    display: none;
    opacity: 0;
}

.checkbox-switch input.input-checkbox:checked+.checkbox-animate .checkbox-on {
    display: block;
    opacity: 1;
}

.centeredlogo {
    display: block;
    width: 60%;
    margin-left: 35%;
    margin-top: 4%;
}

.centeredlogo-landing {
    display: block;
    width: 60%;
    margin-left: 35%;
    margin-top: 15%;
}

#landing-page {
    display: block;
    position: absolute;
    left: 500px;
    top: 285px;
}

#strategy-text {
    position: absolute;
    flex-wrap: wrap;
    right: 45px;
    top: 75px;
}

#rules-text {
    position: absolute;
    flex-wrap: wrap;
    left: 10px;
    top: 75px;
}

:root {
	--primary: #DC143C;
	--dark: #1F2937;
	--darkdark: #111827;
	--light: #F3F4F6;
}

.watch {
	text-align: center;
	width: 100%;
	max-width: 360px;
	margin: 3rem auto;
	padding: 1rem 2rem;
	border-radius: 1rem;
    position: absolute;
    right: 10px;
    top: 200px;
}

.watch .time {
	font-size: 2rem;
	font-weight: 100;
	margin-bottom: 1rem;
}

.button.small {
	display: flex;
	align-items: center;
	justify-content: center;
}

.button.small button {
	appearance: none;
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
    width: 65px;
    height: 29px;

	margin: 0 0.5rem;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;

	color: #FFF;
	background-color: var(--primary);

	transition: 0.4s;
	user-select: none;
}

.button.small button:hover {
	opacity: 0.7;
}

.button.small button:active {
	background-color: var(--dark);
}
